android/.gradle
android/app/build
android/app/.cxx
android-native/.*
android-native/build
android-native/jniLibs
android-native/obj
build/.vs
*.obj
*.mtl
*.png
*.ppm
!cube.*
build\main.pdb
build/main.pdb
*.pdb
build/main.exe
*.exe
build/.vs/main/v17/.suo
build/vc140.pdb
build/main.pdb
build/vc140.pdb
build/main.pdb
build/main.obj
build/main.ilk
build/.vs/main/v17/Browse.VC.db
build/.vs/main/v17/.suo
build/.vs/main/v17/.suo
*.psd
build/project_state.tst
