android/.gradle
android/app/build
*.cxx
android-native/.*
android-native/build
android-native/jniLibs
android-native/obj
*.vs
*.obj
*.mtl
*.png
*.ppm
!cube.*
!checkerboard.ppm
*.pdb
*.exe
*.suo
build/main.obj
*.ilk
*.psd
build/project_state.tst
